@import "tailwindcss";

:root {
  /* Colors */
  --orange: 26 100% 55%;
  --pale-orange: 25 100% 94%;

  --very-dark-blue: 220 13% 13%;
  --dark-grayish-blue: 219 9% 45%;
  --grayish-blue: 220 14% 75%;
  --light-grayish-blue: 223 64% 98%;
  --white: 0 0% 100%;
  --black: 0 0% 0%;

  /* Typography */
  --font-size-paragraph: 1rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}


body {
  background: hsl(var(--white));
  color: hsl(var(--dark-grayish-blue));
  font-family: var(--font-kumbh-sans), sans-serif;
}

.li-underline:hover {
  animation-name: slide;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
